{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}Accedi{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aggiungi_articolo.css' %}?v={{ now|date:'U' }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 ">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ i_form.as_p }}

                    {{ i_formset.management_form }}
                    {% for form in i_formset %}
                        {{ form.as_p }}
                    {% endfor %}

                    <button type="submit">Salva Articolo</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar_right %}
{% endblock %}





