{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}Accedi{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'aggiungi_articolo.css' %}?v={{ now|date:'U' }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 ">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_div }}
                    {{ i_form.as_div }}

                    <div>
                        <label for="immagini">Immagini:</label>
                        <input type="file" multiple name="immagini" id="immagini">
                    </div>
                    <button type="submit">Salva Articolo</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar_right %}
{% endblock %}





