{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}{{ articolo.nome }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'articolo.css' %}?v={{ now|date:'U' }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
{% endblock %}

{% block content %}
    <!-- Articolo -->
    <div class="container contenuto">
        <div class="row">

            <div class="col-5">
                <div class="carousel slide" id="carouselExample">
                    <div class="carousel-inner">
                        {% for immagine in articolo.immagine_set.all %}
                            <div class="carousel-item{% if forloop.first %} active{% endif %}">
                                <img src="{{ immagine.immagine.url }}" class="d-block w-100">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-7 informazioni">

                <h1>{{ articolo.nome }}</h1>
                <p>Marca: {{ articolo.marca }}</p>
                <div class="valutazione">
                    <p>{{ valutazione_media }}: </p>
                    <div class="stelle">
                        <div class="not_filled">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="filled" style="width: calc({{ valutazione_media }} / 5 * 100%)">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <p>({{ num_voti }})</p>
                </div>

                {% if articolo.sconto_percentuale == 0 %}
                    <h1>{{ articolo.prezzo }}€</h1>
                {% else %}
                    <h1>{{ articolo.prezzo|calcolo_prezzo_scontato:articolo.sconto_percentuale }}€
                        <s>{{ articolo.prezzo }}€</s>
                    </h1>
                {% endif %}
                <p>Num. disponibili: {{ articolo.num_articoli }}</p>
                {% if perms.shop.puo_acquistare_articolo %}
                    <div class="acquista mb-4">
                        <a class="btn btn-warning" href="{% url 'acquista' articolo.id %}">Acquista</a>
                    </div>
                {% endif %}

                {% if perms.shop.puo_aggiungere_carrello %}
                    <div class="carrello">
                        <a href="{% url 'aggiungi_carrello' articolo.id %}" class="btn btn-danger">Aggiungi in
                            Carrello</a>
                    </div>
                {% endif %}

                {% if perms.shop.puo_modificare_articolo %}
                    <div class="carrello">
                        <a href="{% url 'modifica_articolo' articolo.id %}" class="btn btn-warning mb-2">Modifica
                            articolo</a>
                    </div>
                    <div class="carrello">
                        <a href="{% url 'modifica_immagini' articolo.id %}" class="btn btn-primary">Modifica
                            immagini</a>
                    </div>
                {% endif %}

                {% if perms.shop.puo_eliminare_articolo %}
                    <div class="carrello mt-3 mb-3">
                        <a href="{% url 'elimina_articolo' articolo.id %}" class="btn btn-danger">Elimina</a>
                    </div>
                {% endif %}

            </div>

        </div>


    </div>

    <div class="container">
        <h1>Commenti</h1>
    </div>
    <div class="container risultati">
        <div class="row">
            {% for valutazione in valutazioni %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="valutazione">
                                    <p>{{ valutazione.voto }}: </p>
                                    <div class="stelle">
                                        <div class="not_filled">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="filled"
                                             style="width: calc({{ valutazione.voto }} / 5 * 100%)">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <h3>{{ valutazione.ordine.acquirente.user.username }}</h3>
                                <p>{{ valutazione.commento }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}