{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}Ricerca{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'articolo.css' %}?v={{ now|date:'U' }}">
    <link rel="stylesheet" href="{% static 'font-awesome.css' %}?v={{ now|date:'U' }}"/>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1>I miei articoli</h1>
    </div>
    <div class="container">
        <h2>Valutazione media di tutte le votazioni:</h2>
        <div class="valutazione">
            <p>{{ valutazione_media }}: </p>
            <div class="stelle">
                <div class="not_filled">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="filled" style="width: calc({{ valutazione_media }} / 5 * 100%)">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <p>({{ num_voti }})</p>
        </div>
    </div>
    <div class="container">
        <p>Numero articoli: {{ articoli|length }}</p>
    </div>
    <!-- Lista di articoli -->
    <div class="container risultati">
        <div class="row">
            {% for articolo in articoli %}
                <div class="col-3">
                    <a href="{% url 'articolo' articolo.id %}">
                        <div>
                            <div class="card w-100">
                                <img src="{{ articolo.profilo.immagine.url }}" class="card-img-top">
                                <div class="card-body">
                                    {% if articolo.sconto_percentuale == 0 %}
                                        <h5 class="card-title"><h1>{{ articolo.prezzo }}€</h1></h5>
                                    {% else %}
                                        <h5 class="card-title">
                                            <h1>{{ articolo.prezzo|calcolo_prezzo_scontato:articolo.sconto_percentuale }}€
                                                <s>{{ articolo.prezzo }}€</s></h1></h5>
                                    {% endif %}

                                    <p class="card-text">{{ articolo.nome }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>

{% endblock %}