{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}Ordini{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'font-awesome.css' %}?v={{ now|date:'U' }}"/>
    <link rel="stylesheet" href="{% static 'ordini.css' %}?v={{ now|date:'U' }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Ordini</h1>
    </div>
    <div class="container mt-4">
        <p>Numero Ordini: {{ ordini|length }}</p>
    </div>
    <!-- Lista di articoli -->
    <div class="container risultati">
        <div class="row">
            {% for ordine in ordini %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ ordine.articolo.profilo.immagine.url }}" class="card-img-top">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ ordine.articolo.nome }}</h5>
                                <p class="card-text">Acquistato il {{ ordine.data_acquisto }}
                                    a {{ ordine.prezzo_acquisto }}€</p>

                                {% if ordine.valutazione %}
                                    <p>Hai già dato una valutazione</p>
                                    <div class="valutazione">
                                        <p>{{ ordine.valutazione.voto }}: </p>
                                        <div class="stelle">
                                            <div class="not_filled">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                            <div class="filled"
                                                 style="width: calc({{ ordine.valutazione.voto }} / 5 * 100%)">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p>{{ ordine.valutazione.commento }}</p>
                                {% endif %}
                                <a href="{% url 'valutazione' ordine.id %}"
                                   class="btn btn-outline-primary">Valuta</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}