{% extends "base.html" %}

{% load static %}
{% load filters %}

{% block title %}Registrati{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'registrati.css' %}?v={{ now|date:'U' }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 accedi">
                <form method="post" action="{% url 'registrazione_venditore' %}">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <div class="mb-1">
                        <label for="indirizzo" class="form-label">Denominazione</label>
                        <input type="text" class="form-control" id="denominazione" name="denominazione" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Registrati</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar_right %}
{% endblock %}



